@media screen and (max-width: 1050px){
    .stat-title {
        font-size: 1.1rem;
    }

    .card-text-part {
        //padding: 10%;

        .block {
            width: 100%;
        }

       h1 {
           font-size: 3.2rem;
           line-height: 3.8rem;
           margin-bottom: 2.0rem;
       }

       .text {
            width: 100%;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.5px;
       }
    }
}